<section class="row no-margin m-t-5">
  <nav class="col-sm-6 col-md-4 col-lg-3 text-center"  style="border: 1px black solid;">
        <h4 class="m-text14 m-t-5 p-b-7">
         Administrador
        </h4>

        <ul class="list-group p-b-5">
          <li class="list-group-item p-t-4" style="cursor: pointer;" (click)="getCategorias()" >
            Categorias
          </li>
          <li class="list-group-item p-t-4" style="cursor: pointer;" (click)="getProductos()" >
              Productos
          </li>
        </ul>
  </nav>

  <div *ngIf="divCategoria" class="col-sm-6 col-md-8 col-lg-9 no-margin">
          <div class="mandate col-md-12">
            <h1 class="text-center">Categorías</h1>
            <div class="cabecera b-t-r-5">
                <!--<select class="btnHeader b-r-5 m-l-5" [(ngModel)]="selectFilterSelected">
                  <option *ngFor="let filter of selectFilter" [ngValue]="filter">{{filter.nombre}}</option>
                </select>-->
                <input class="btnHeader m-l-5 b-r-5" type="text"  placeholder="Buscar">
                <button routerLink="/admin-add"
                  (click)="sendDiv(1)"
                  style="border:1px solid;"
                  class="btn btn-header m-t-5 m-l-10 m-b-15">
                  <i class="fas fa-plus-square"></i>
                  <b class="btn-nuevo m-r-5"> Nuevo</b>
                </button>
              </div>
                  <table class="table table-sm table-bordered table-hover mt-3">
                      <thead>
                          <tr>
                              <th>idCategoria</th>
                              <th>Nombre</th>
                              <th>Descripcion</th>
                              <th></th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let categoria of _categorias">
                              <td>{{categoria.idCategoria}}</td>
                              <td>{{categoria.nombre}}</td>
                              <td>{{categoria.descripcion}}</td>
                              <td><button style="cursor:pointer; width: 38px"><i class="fas fa-edit"></i></button></td>
                              <td><button style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></button></td>
                          </tr>
                      </tbody>
                  </table>
          </div>
  </div>
  <div *ngIf="divProducto" class="col-sm-6 col-md-8 col-lg-9 no-margin">
      <div class="mandate col-md-12">
        <h1 class="text-center">Productos</h1>
        <div class="cabecera b-t-r-5">
            <!--<select class="btnHeader b-r-5 m-l-5" [(ngModel)]="selectFilterSelected">
              <option *ngFor="let filter of selectFilter" [ngValue]="filter">{{filter.nombre}}</option>
            </select>-->
            <input class="btnHeader m-l-5 b-r-5" type="text"  placeholder="Buscar">
            <button routerLink="/admin-add"
              (click)="sendDiv(2)"
              style="border:1px solid;"
              class="btn btn-header m-t-5 m-l-10 m-b-15">
              <i class="fas fa-plus-square"></i>
              <b class="btn-nuevo m-r-5"> Nuevo</b>
            </button>
          </div>
              <table class="table table-sm table-bordered table-hover mt-3 table-responsive-sm">
                  <thead>
                      <tr>
                          <th>idProducto</th>
                          <th>Nombre</th>
                          <th>Precio</th>
                          <th>Unidad</th>
                          <th>Tipo Unidad</th>
                          <th>Img</th>
                          <th>idCategoria</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let product of _products">
                          <td>{{product.idProducto}}</td>
                          <td>{{product.nombre}}</td>
                          <td>{{product.precio}}</td>
                          <td>{{product.unidad}}</td>
                          <td>{{product.tipoUnidad}}</td>
                          <td>{{product.img}}</td>
                          <td>{{product.idCategoria}}</td>
                          <td><button style="cursor:pointer; width: 38px"><i class="fas fa-edit"></i></button></td>
                          <td><button style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i></button></td>
                      </tr>
                  </tbody>
              </table>
      </div>
</div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro de querer eliminar el registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </div>
  </div>