<div class="container-fluid"> 
  <div  class="row">
    <div class="col-12">
      <h3 class="text-center">Productos</h3>
    </div>
    <div class="col-12 mt-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">idProducto</label>
          <input type="text" [ngModel]= "txtIdProducto"  class="form-control" id="exampleFormControlInput1" disabled>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Nombre</label>
          <input type="text" [ngModel]= "txtNombre" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese un nombre" >
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Precio</label>
          <input type="number" [ngModel]= "txtPrecio" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese precio">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Unidad</label>
          <input type="number" [ngModel]= "txtUnidad" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese una unidad" >
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">TipoUnidad</label>
          <input type="text" [ngModel]= "txtTipoUnidad" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese tipo de unidad">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Img</label>
          <input type="text" [ngModel]= "txtImg" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese ruta imagen" >
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">idCategoria</label>
          <input type="number" [ngModel]= "txtIdCategoria" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="form-group">
          <button type="button"  class="form-control btn btn-block btn-outline-dark" id="exampleFormControlInput1" >Guardar</button>
        </div>
    </div>  
  </div>
</div>   